
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;

}

body, html {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}

.title{
    display: flex;
    font-size: 13vh;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    transition: 0.6s;
    background: transparent;
    color: rgb(0, 0, 0);
}


.playBtn {
    display: flex;
    width: 35vh;
    height: 18vh;
    background: rgb(113, 255, 113);
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);
    border: 0.5vh solid rgb(39, 39, 39);
    border-radius: 4vh;
    cursor: pointer;
    font-size: 8vh;
    transition: 0.1s;  
}

.playBtn h4{
    transition: 0.1s;
    background: rgb(113, 255, 113);

}

.playBtn:hover h4{
    background: rgb(138, 255, 138);
}

.playBtn:hover{
    font-size: 8.4vh;
    background: rgb(138, 255, 138);
}

.playZone{
    display: none;
    flex-direction: column;
    background: transparent;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
    display: flex;
}



.zone{
    margin-inline: 0px;
    margin-bottom: 0px;
    background: gainsboro;
    width: 3vh;
    height: 3vh;
    border: 0.1vh solid black;
    border-radius: 0.5vh;
    

}


.select{
    display: block;
    position: absolute;
    top: 50%;
    border-radius: 1.5vh;
    border: 0.4vh solid rgb(39, 39, 39);
    background-color: transparent;
    backdrop-filter: blur(4px);
    width: 20vh;
    height: 6vh;
    text-align: center;
    outline: none;
    font-size: 3.9vh;
    appearance: none;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    transition-duration: 0.23s;
}



.redFlag{
    display: none;
    width: 8vh;
    height: 8vh;
    background: transparent;
}

.info{
    display: flex;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 96%;
    background: transparent;
}

html{
    background-image: url(images/fon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.infoText{
    background: transparent;
    backdrop-filter: blur(1vh);
    margin: 0vh;
    border-radius: 3vh;
    color: rgb(237, 237, 237);
}

.infoText a{
    color: #e7ff5f;
    text-decoration: none;
}

.infoText:hover a{
    text-decoration: underline;
}

.bomb{
    background-color: #ff371d;
    border-radius: 0.6vh;
}

@keyframes appearance{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.appearance{
    animation: appearance 0.5s;
    opacity: 1;
}

.repeatGameBtn{
    display: none;
    width: 7.5vh;
    height: 7.5vh;
    background: gainsboro;
    border-radius: 1vh;
    position: absolute;
    top: 12.8%;
    left: 5%;
    background-size: cover;
    border: 0.4vh solid rgb(29, 29, 29);
    cursor: pointer;
    transition: 0.3s;
}

.repeatGameBtn:hover{
background-color:rgb(255, 255, 255);

}

.repeatGameBtn:active{
    background: rgb(175, 175, 175);
    transition: 0.1s;
        .repeatImg{
            height: 5.5vh;
            width: 5.5vh;
            top: 11%;
            left: 7.5%;
            background-color: transparent;
            position: absolute;
            transition: 0.05s;
        }
}

.repeatImg{
    height: 5.7vh;
    width: 5.7vh;
    top: 10%;
    left: 6%;
    background-color: transparent;
    position: absolute;
    transition: 0.005s;
}

.exitGameBtn{
    display: none;
    width: 7.5vh;
    height: 7.5vh;
    background: gainsboro;
    border-radius: 1vh;
    position: absolute;
    top: 5%;
    left: 5%;
    background-size: cover;
    border: 0.4vh solid rgb(29, 29, 29);
    cursor: pointer;
    transition: 0.3s;
}

.exitGameBtn:hover{
    background-color:rgb(255, 255, 255);

}

.exitGameBtn:active{
    background: rgb(175, 175, 175);
    transition: 0.1s;
        .logOutImg{
            height: 5.5vh;
            width: 5.5vh;
            top: 13%;
            left: 13%;
            background-color: transparent;
            position: absolute;
            transition: 0.05s;
        }
}

.logOutImg{
    height: 5.7vh;
    width: 5.7vh;
    top: 11%;
    left: 11%;
    background-color: transparent;
    position: absolute;
    transition: 0.005s;
}



.exitGameWindow{
    margin: 0;
    width: 70vh;
    height: 30vh;
    background-color: rgb(142, 232, 255);
    position: absolute;
    border: 0.7vh solid black;
    border-radius: 10vh;
    display: none;
    justify-items: center;
    align-items: center;
    padding: 0;
}

.exitGameWindowText{
    position: absolute;
    background-color: transparent;
    top: 15%;
    left: 9.5%;
    font-size: 5.6vh;
}

.exitGameOk{
    background-color: #8fff78;
    top: 49%;
    left: 17%;
    height: 10vh;
    width: 20vh;
    position: absolute;
    border-radius: 4vh;
    font-size: 4.5vh;
    border: 0.4svh solid black;
    cursor: pointer;
    transition: 0.1s;

}

.exitGameCansel{
    background-color: #ff7575;
    top: 49%;
    left: 54%;
    height: 10vh;
    width: 20vh;
    position: absolute;
    border-radius: 4vh;
    font-size: 4vh;
    border: 0.4vh solid black;
    cursor: pointer;
    transition: 0.1s;

}

.exitGameCansel:hover{
    background-color: #ff715e;
}

.exitGameOk:hover{
    background-color: #7cfc62;
}

.exitGameCansel:active{
    background-color: #ff998b;
}

.exitGameOk:active{
    background-color: #a8ff96;
}

.repeatGameWindow{
    margin: 0;
    width: 70vh;
    height: 30vh;
    background-color: rgb(142, 232, 255);
    position: absolute;
    border: 0.7vh solid black;
    border-radius: 10vh;
    display: none;
    justify-items: center;
    align-items: center;
    padding: 0;
}

.repeatGameWindowText{
    position: absolute;
    background-color: transparent;
    top: 15%;
    left: 7%;
    font-size: 5.2vh;
}

.repeatGameOk{
    background-color: #8fff78;
    top: 48%;
    left: 18%;
    height: 10vh;
    width: 20vh;
    position: absolute;
    border-radius: 4vh;
    font-size: 4.5vh;
    border: 0.4svh solid black;
    cursor: pointer;
    transition: 0.1s;
}

.repeatGameCansel{
    background-color: #ff7575;
    top: 48%;
    left: 52%;
    height: 10vh;
    width: 20vh;
    position: absolute;
    border-radius: 4vh;
    font-size: 4vh;
    border: 0.4vh solid black;
    cursor: pointer;
    transition: 0.1s;
}

.repeatGameCansel:hover{
    background-color: #ff715e;
}

.repeatGameOk:hover{
    background-color: #7cfc62;
}

.repeatGameCansel:active{
    background-color: #ff998b;
}

.repeatGameOk:active{
    background-color: #a8ff96;
}

.volumeBtn{
    display: block;
    width: 7.5vh;
    height: 7.5vh;
    background: gainsboro;
    border-radius: 1vh;
    position: absolute;
    top: 5%;
    left: 90%;
    background-size: cover;
    border: 0.4vh solid rgb(29, 29, 29);
    cursor: pointer;
    transition: 0.3s;
}

.volumeBtn:hover{
    background-color:rgb(255, 255, 255);
    
    }
    
    .volumeBtn:active{
        background: rgb(175, 175, 175);
        transition: 0.1s;
            .volumeMuteImg{
                height: 5.5vh;
                width: 5.5vh;
                top: 11%;
                left: 7.5%;
                background-color: transparent;
                position: absolute;
                transition: 0.05s;
            }
            .volumeUpImg{
                height: 5.5vh;
                width: 5.5vh;
                top: 11%;
                left: 7.5%;
                background-color: transparent;
                position: absolute;
                transition: 0.05s;
            }
    }



.volumeMuteImg{
    height: 5.7vh;
    width: 5.7vh;
    top: 10%;
    left: 6%;
    background-color: transparent;
    position: absolute;
    transition: 0.005s;
    display: block;
}

.volumeUpImg{
    height: 5.7vh;
    width: 5.7vh;
    top: 10%;
    left: 6%;
    background-color: transparent;
    position: absolute;
    transition: 0.005s;
    display: none;
}