
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    background: gainsboro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;

}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100hv;
}



.title{
    display: flex;
    font-size: 13vh;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    transition: 0.6s;
    background: transparent;
    color: rgb(0, 0, 0);
}


.playBtn {
    display: flex;
    width: 35vh;
    height: 18vh;
    background: rgb(113, 255, 113);
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);
    border: 0.4vh solid rgb(39, 39, 39);
    border-radius: 4vh;
    cursor: pointer;
    font-size: 8vh;
    
}

.playBtn h4{
    background: rgb(113, 255, 113);
    transition: 0.23s ;
}

.playBtn:hover{
    font-size: 8.4vh;
   
}

.playZone{
display: none;
flex-direction: column;
background: transparent;
align-items: center;
justify-content: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.row{
    display: flex;
    
    

}

.zone{
    background: rgb(206, 206, 206);
    margin-inline: 0px;
    margin-bottom: 0px;
    background: transparent;
    width: 3vh;
    height: 3vh;
    border: 0.1vh solid black;
    border-radius: 0.5vh;
    

}


.select{
    display: block;
    position: absolute;
    top: 50%;
    border-radius: 1.5vh;
    border: 0.3vh solid rgb(39, 39, 39);
    background-color: transparent;
    backdrop-filter: blur(4px);
    width: 20vh;
    height: 6vh;
    text-align: center;
    outline: none;
    font-size: 3.9vh;
    appearance: none;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    transition-duration: 0.23s;
}



.redFlag{
    display: none;
    width: 8vh;
    height: 8vh;
    background: transparent;
}

.info{
    display: flex;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 96%;
    background: transparent;
}

html{
    background-image: url(images/fon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.infoText{
    background: transparent;
    backdrop-filter: blur(1vh);
    margin: 0vh;
    border-radius: 3vh;
    color: rgb(237, 237, 237);
}

.infoText a{
    color: #e7ff5f;
    text-decoration: none;
}

.infoText:hover a{
    text-decoration: underline;
}

.bomb{
    background-color: red;
    border-radius: 0.6vh;
}

@keyframes appearance{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.appearance{
    animation: appearance 0.5s;
    opacity: 1;
}